.container {
  display:flex;
  background-color: #ffe4c4;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2.33em;
}

.formContainer {
  display:flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.result {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  background-color: rgb(136, 248, 145);
  text-align: center;
}

ul {
  list-style: none
}